# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
/media/
staticfiles/
db.sqlite3

# Virtual Environment
.venv/
env/
venv/

# Node
node_modules/
dist/

# Environment & Secrets
.env
*.pem
*.key

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
